html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video,
input {
  margin: 0;
  padding: 0;
  border: none;
  outline: 0;
  font-family: STHeitiSC-Light;
  font: inherit;
  vertical-align: baseline; }

html,
body,
form,
fieldset,
p,
div,
h1,
h2,
h3,
h4,
h5,
h6 {
  -webkit-text-size-adjust: none; }

html,
body {
  width: 100%;
  height: 100%; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  font-family: arial, sans-serif; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

ins,
a {
  text-decoration: none; }

del {
  text-decoration: line-through; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img {
  display: inline-block; }

input,
textarea {
  border: none;
  background: none;
  outline: none;
  -webkit-appearance: none; }

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -moz-tap-highlight-color: rgba(0, 0, 0, 0);
  -ms-tap-highlight-color: rgba(0, 0, 0, 0);
  -o-tap-highlight-color: rgba(0, 0, 0, 0); }

/*html {
    font-size: $browser-default-font-size;
}*/
html {
  font-size: 37.5px; }

.wrapper {
  width: 100%;
  height: 100%;
  color: #333333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  display: -webkit-flex;
  /* NEW - Chrome */
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  font-size: 0.32rem;
  overflow: hidden;
  position: relative; }

header {
  width: 100%;
  height: 1.17333rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  display: -webkit-flex;
  /* NEW - Chrome */
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 0.42667rem;
  background: #53A7A2;
  color: #fff; }
  header .search-inp {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 0%;
    flex: 1 1 0%;
    height: 0.8rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    /* NEW, Spec - Opera 12.1, Firefox 20+ */
    display: -webkit-flex;
    /* NEW - Chrome */
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    header .search-inp input {
      font-size: 0.32rem;
      color: #fefefe; }
  header span {
    display: inline-block;
    width: 1.33333rem;
    height: 1.17333rem;
    line-height: 1.17333rem;
    text-align: center;
    font-size: 0.37333rem; }
    header span > img {
      height: 1.06667rem; }
  header dl {
    width: 1.33333rem !important;
    height: 1.17333rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    /* NEW, Spec - Opera 12.1, Firefox 20+ */
    display: -webkit-flex;
    /* NEW - Chrome */
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    header dl dt {
      width: 1.33333rem;
      height: 0.53333rem;
      text-align: center; }
    header dl dd {
      width: 1.33333rem;
      height: 0.4rem;
      text-align: center;
      font-size: 0.32rem; }

.active {
  color: #53A7A2;
  border-bottom: 3px solid #53A7A2; }

section {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  display: -webkit-flex;
  /* NEW - Chrome */
  -webkit-box-flex: 1;
  -ms-flex: 1 1 0%;
  flex: 1 1 0%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap; }

.banner {
  width: 100%;
  height: 2.50667rem;
  background: url("../img/banner.png") no-repeat center;
  background-size: 100%;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc; }

.swiper-container, .swiper-wrapper, .swiper-slide {
  width: 100%; }

.swiper-slide > div {
  width: 100%;
  height: 4.85333rem; }

.swiper-pagination {
  height: 0.26667rem; }

.list {
  width: 100%;
  height: 2.29333rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  display: -webkit-flex;
  /* NEW - Chrome */
  border: 0; }
  .list dl {
    border: 0;
    width: 20%;
    height: 2.29333rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    /* NEW, Spec - Opera 12.1, Firefox 20+ */
    display: -webkit-flex;
    /* NEW - Chrome */
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .list dl dt {
      height: 1.6rem; }
    .list dl dd {
      height: 0.8rem; }

.content {
  width: 100%;
  height: 5.86667rem; }
  .content h3 {
    height: 1.06667rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    /* NEW, Spec - Opera 12.1, Firefox 20+ */
    display: -webkit-flex;
    /* NEW - Chrome */
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0 0.26667rem;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 0.37333rem; }

.em {
  height: 0.26667rem;
  width: 100%;
  background: #ccc; }

.product {
  width: 100%;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 0%;
  flex: 1 1 0%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  display: -webkit-flex;
  /* NEW - Chrome */
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background: #fff; }

.product dl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  display: -webkit-flex;
  /* NEW - Chrome */
  width: 100%;
  height: 4rem;
  border-bottom: 1px solid #CCC;
  padding-right: 0.26667rem;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .product dl dt {
    width: 3.73333rem;
    height: 4.8rem; }
  .product dl img {
    width: 2.4rem;
    height: 2.4rem;
    margin-top: 0.53333rem; }
  .product dl dd {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 0%;
    flex: 1 1 0%;
    width: 8rem;
    height: 4.8rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    /* NEW, Spec - Opera 12.1, Firefox 20+ */
    display: -webkit-flex;
    /* NEW - Chrome */
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }

h2 {
  height: 0.74667rem;
  line-height: 0.74667rem; }

.left {
  width: 6.13333rem;
  margin-top: 0.26667rem;
  margin-left: 0.26667rem;
  text-align: left; }
  .left h2 {
    font-size: 0.53333rem; }
  .left p {
    font-size: 0.37333rem;
    margin-top: 0.26667rem;
    margin-bottom: 0.53333rem; }

.isSh {
  width: 100%;
  line-height: 1.06667rem;
  color: #666;
  font-size: 0.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  display: -webkit-flex;
  /* NEW - Chrome */
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .isSh span {
    font-size: 0.48rem;
    color: #06c1ae; }
  .isSh b {
    color: #666;
    font-size: 0.37333rem; }

.pullDown {
  width: 100%;
  height: 0.8rem;
  font-size: 0.37333rem;
  text-align: center;
  line-height: 0.8rem;
  position: absolute;
  top: -50px; }

.pullUp {
  width: 100%;
  height: 0.8rem;
  font-size: 0.37333rem;
  text-align: center;
  line-height: 0.8rem;
  position: absolute;
  bottom: -50px; }
